body {
    font-family: sans-serif;
    margin: 0 auto;
    width: 50em;
    padding: 10px;
}

h1 {
    color: rgb(173, 111, 223);
    font-size: 2.5em;
}

p {
    color: rgb(73, 71, 71);
    font-size: 1.5em;
}

.code {
    font-size: 1.5em;
    color: blue;
    padding: 10px;
    object-fit: cover;
    border: thick solid rgb(173, 111, 223);
    background-color: lightgrey;
    border-radius: 8px;;
}